{% extends 'info.html' %}
{% load static %}

{% block title %}Jelpest{% endblock title %}

{% block body %}
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-5">
		<div class="col-10 col-sm-8 col-lg-6 align-items-center py-5 mb-5">
			<img src="{% static 'assets/logoJelpest.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		</div>
        <div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">Tu mejor alternativa para tu gestión de pedidos</h1>
		</div>
	</div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 my-5">
		<div class="col-lg-6 mb-5">
			<h1 class="display-5 fw-bold lh-1 mb-3">El cliente pide y paga desde tu mesa</h1>
			<p class="lead">
                Con esta opción, tu mayor prioridad será servir para que así no inviertas tiempo en tomar nota o cobrar
			</p>
			<!--<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
				<button type="button" class="btn btn-outline-primary btn-lg px-4 shadow-sm">Default</button>
			</div>-->
		</div>
        <div class="col-10 col-sm-8 col-lg-6 align-items-center">
			<img src="{% static 'assets/logoJelpest.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		</div>
	</div>
{% endblock body %}

{% block css %}
<style>
    body {
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 0%, rgba(224,253,255,1) 80%, rgba(45,241,253,1) 100%);
    }
</style>
 
{% endblock css %}